@using PagedList.Mvc;
@model PagedList.IPagedList<GiaSu.Models.KHOAHOC>


<div class="row service_grids">
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-md-3 mb-lg-0 mb-5 ser_grid1 icon1">
            <span class="fab fa-forumbee"></span>
            <a class="font-weight-bold text-dark" style="font-size:25px;" href="@Url.Action("ChiTietKhoaHoc","KhoaHoc",new { id = item.MA_KH })">@item.TEN_KH </a>
            <p class="text-info">
                @item.NOIDUNG
            </p>
            <a class="text-info" href="@Url.Action("ChiTietKhoaHoc","KhoaHoc",new { id = item.MA_KH })">Chi tiết <span class="fa fa-angle-right"></span></a>
            @*@Html.ActionLink("Đọc thêm", "ChiTietKhoaHoc", new { id = item.MA_KH}, htmlAttributes: new { @class = "fa fa-angle-right"})*@
        </div>
    }

</div>

<div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("TatCaKhoaHoc", new { page}))
</div>